<footer>
    <div class="info">
        <h3 class="name">札幌市南区役所</h3>
        <div class="address-block">
            <p>
                005-8612札幌市南区真駒内幸町2丁目
                <a href="#" class="map-link">
                    <img src="/data/map_icon.png" alt="map pin" class="pin-img">
                    Google Maps
                </a>
            </p>
            <p class="tel">電話番号 050-3786-3912</p>
            <p class="tel">ファクス 050-3786-3912</p>
        </div>
        <p class="open">業務時間 8時45分～17時15分<br>（土・日曜、祝・休日および12月29日～1月3日はお休み）</p>
    </div>

    <p class="copy">&copy; 2025 An All rights reserved.</p>
</footer>
<!-- 下部固定メニュー -->
<nav class="bottom-bar">
    <a href="/index.html" class="bottom-btn">トップページへ</a>
    <a href="/contact.html" class="bottom-btn">お問い合わせ</a>
</nav>